*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
} 

.bg-nav{
  background: #1C1C1E;
}

.bg-main{
  background: #030303
}

.logo{
  filter: brightness(3.5); 
}

.blur{
  filter: blur(1.3px) brightness(0.8);
}

.podcastbtn{
  text-decoration: none;
  border: 2px solid blue;
  padding: 5px 10px;
  border-radius: 5px;
}